fastapi
uvicorn
python-socketio
python-engineio
pydantic
mediapipe
opencv-python-headless
google-generativeai
gTTS
edge-tts
numpy<2.0.0
scikit-learn<1.8.0
python-dotenv
requests
Pillow
tensorflow-cpu==2.15.0
keras==2.15.0
h5py